.custom-title {
  margin: 0px;
  padding: 11px 0; }

.img-250 {
  height: 250px;
  width: 270px; }

.products-catogery {
  opacity: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transform: translateY(100px);
  -ms-transform: translateY(100px);
  transform: translateY(100px); }

.sub-page {
  display: none;
  opacity: 0; }

footer {
  padding: 30px 0px; }

.floating-button-custom {
  bottom: 10px;
  right: 10px; }

.whatsapp {
  width: 2.5rem; }

.contact-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .contact-style span {
    left: 1.5rem;
    position: relative; }

.animated-underline {
  position: relative;
  text-transform: capitalize;
  margin-bottom: 30px; }
  .animated-underline::after {
    content: '';
    bottom: -10px;
    right: 0%;
    position: absolute;
    border: 1px solid red;
    width: 0%;
    -webkit-animation: toLeft 2s 1 forwards linear;
    animation: toLeft 2s 1 forwards linear; }

@-webkit-keyframes toLeft {
  0% {
    width: 0%;
    right: 0%; }
  50% {
    width: 100%; }
  100% {
    width: 50%;
    left: 0%; } }

@keyframes toLeft {
  0% {
    width: 0%;
    right: 0%; }
  50% {
    width: 100%; }
  100% {
    width: 50%;
    left: 0%; } }
