.custom-title {
  margin: 0px;
  padding: 11px 0; }

.img-250 {
  height: 250px;
  width: 270px; }

.products-catogery {
  opacity: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transform: translateY(100px);
  -ms-transform: translateY(100px);
  transform: translateY(100px); }
