.animated-underline{
    position: relative;
    text-transform: capitalize;
    margin-bottom: 30px;
    &::after{
        content: '';
        bottom: -10px;
        right: 0%;
        position: absolute;
        border: 1px solid red;
        width: 0%;
        animation: toLeft 1s 1 forwards linear;
    }
}
@keyframes toLeft{
    0%{
        width: 0%;
        right: 0%;
    }
    50%{
        width: 100%;
    }
    100%{
        width: 50%;
        left: 0%;
    }
}


.theme-1{
    @include linear-gradient-b(to top right, red, blue);
    nav,.custom-title,.sidenav{
        @include linear-gradient-b(to right, rgb(139,0,126), blue);
    }
    .btn-floating,.backButton,.modal{
        @include linear-gradient-b(to top right, red, blue);
    }
    .default-theam{
        background: rgb(244,67,54);
    }
}
