.animated-underline{
    position: relative;
    text-transform: capitalize;
    margin-bottom: 30px;
    &::after{
        content: '';
        bottom: -10px;
        right: 0%;
        position: absolute;
        border: 1px solid red;
        width: 0%;
        animation: toLeft 1s 1 forwards linear;
    }
}
@keyframes toLeft{
    0%{
        width: 0%;
        right: 0%;
    }
    50%{
        width: 100%;
    }
    100%{
        width: 50%;
        left: 0%;
    }
}

@mixin themConstructor($c1,$c2,$c3,$c4,$c5,$c6,$c7,$c8) {
    @include linear-gradient-b(to top right, $c1, $c2);
    background-attachment: fixed;
    color: $c3;
    a{
        color: $c3;
    }
    nav,.custom-title{
        @include linear-gradient-b(to right, $c1, $c2);
        color: $c3;
        li{a{color: $c3;}}
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100vw 100vh;
    }
    nav{
        @include linear-gradient-b(to right, $c8, $c2);
    }
    .sidenav,.custom-title{
        background-attachment: fixed;
        @include linear-gradient-b(to top right, $c1 , $c2);
        background-size: 100vw 100vh;
        background-repeat: no-repeat;
        li{a{color: $c3;}}
    }
    .modal{
        @include linear-gradient-b(to top right, $c1, $c2);
    }
    .btn-floating.con{
        @include linear-gradient-b(to right, $c4,$c5);
        i{color: $c3;}
    }
    .backButton{
        @include linear-gradient-b(to top right,$c6,$c7);
        i{color: $c3;}
    }
    .menu-show{
        @include linear-gradient-b(to top right, $c2, $c2);
        color: $c3;
    }
    .default-theam{
        background: #fff;
        color: $c3;
    }
    .btn-small,.btn-flat{
        @include linear-gradient-b(to right, $c1, $c2);
        background-attachment: fixed;
        background-size: 100% 100%;
        color: $c3;
    }
    .tabs{
        background: transparent;
        a{color: $c3;}
    }
    .active{
        color: lighten($color: $c3, $amount: 50);
    }
}



.theme-1{
    @include themConstructor(red, blue, white, #960069, #960096, #91006e, #7d0087,#840076);
}

.theme-2{
    @include themConstructor(#eecda3, #ef629f, white, #ec9e9f, #ee95a1, #ee9fa1, #ee97a1,#ee9ca1);
}


.theme-3{
    @include themConstructor(#667eea , #764ba2, white, #6b67c9, #6771d8, #6d68cb, #6d68cb,#6d66c8);
}

.theme-4{
    @include themConstructor(#89f7fe, #66a6ff, #fff, #7bd6fe, #76ccfe, #7ad5ff, #77cefe, #79d2ff);
}

.theme-5{
    @include themConstructor(#fdfcfb, #e2d1c3, #000, #e7dfda, #eee5dd, #ede5df, #e7ded7, #eee5de);
}


.theme-6{
    @include themConstructor(#48c6ef, #6f86d6, #fff, #58a9e3, #5ca5e2, #59abe4, #5ca5e2, #5aa6e2);
}


.theme-7{
    @include themConstructor(#13547a, #80d0c7, #fff, #408799, #4b93a1, #428a9b, #4a93a1, #448d9d);
}

.theme-8{
    @include themConstructor(#434343, #000000, #fff, #272727, #212121, #262626, #202020, #232323)
}

.theme-9{
    @include themConstructor(#ff758c, #ff7eb3, #fff, #ff799d, #fb789e, #ff799d, #f7769b, #fb789c)
}

.theme-10{
    @include themConstructor(#c79081, #dfa579, #fff, #d0987d, #d29a7c, #d1997e, #d39b7c, #d29a7d)
}

.theme-11{
    @include themConstructor(#09203f, #537895, #fff, #274462, #304f6d, #284463, #2f4d6b, #2b4967)
}

.theme-12{
    @include themConstructor(#96deda, #50c9c3, #fff, #7ad6d1, #71d3ce, #79d6d1, #72d3ce, #76d5d0)
}
.theme-13{
    @include themConstructor(#29323c, #485563, #fff, #35404b, #394451, #37414d, #394451, #37424e)
}
.theme-14{
    @include themConstructor(#ee9ca7, #ffdde1, #fff, #f5b7bf, #f3bac2, #f5b8c0, #f7bec5, #f5bac1)
}
.theme-15{
    @include themConstructor(#1e3c72, #2a5298, #fff, #234582, #234683, #234683, #244886, #244684);
}
