// font-family: 'Roboto', sans-serif;
// font-family: 'Srisakdi', cursive;
// font-family: 'Source Sans Pro', sans-serif;
// font-family: 'Lato', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'PT Sans', sans-serif;
// font-family: 'Open Sans Condensed', sans-serif;
// font-family: 'Playfair Display', serif;
// font-family: 'Sniglet', cursive;
// font-family: 'Lora', serif;
// font-family: 'Roboto Mono', monospace;
// font-family: 'Indie Flower', cursive;
// font-family: 'Thasadith', sans-serif;
// font-family: 'Pacifico', cursive;
// font-family: 'Lobster', cursive;
// font-family: 'Amatic SC', cursive;
// font-family: 'Suranna', serif;
// font-family: 'Cinzel', serif;
// font-family: 'Satisfy', cursive;
// font-family: 'Kaushan Script', cursive;
// font-family: 'Caveat', cursive;
// font-family: 'Bilbo', cursive;
// font-family: 'Great Vibes', cursive;
// font-family: 'Patrick Hand', cursive;
// font-family: 'Poiret One', cursive;
// font-family: 'Nanum Myeongjo', serif;
// font-family: 'Handlee', cursive;
// font-family: 'Sacramento', cursive;
// font-family: 'Tangerine', cursive;
// font-family: 'Marck Script', cursive;
@mixin desk {
    @media screen and (min-width: 600px) {
        @content;
    }
}

@mixin mob {
    @media screen and (max-width: 600px) {
        @content;
    }
}
@mixin linear($c1,$c2) {
    background-image:   -webkit-gradient(linear, 0% 0%, 0% 100%, from($c1), to($c2));
    background-image:   -webkit-linear-gradient(top, $c1, $c2);
    background-image:   -moz-linear-gradient(top, $c1, $c2);
    filter:                 progid:DXImageTransform.Microsoft.Gradient(startColorStr='$c1', endColorStr='$c2', GradientType=0);
    -ms-filter:             "progid:DXImageTransform.Microsoft.Gradient(startColorStr='$c1', endColorStr='$c2', GradientType=0)";
    background-image:   -ms-linear-gradient(top, $c1, $c2);
    background-image:   -o-linear-gradient(top, $c1, $c2);
    // background-image:   url(images/fallback-gradient.png);
    background-color:   $c1;
}



@mixin linear-gradient-b($args...) {
    background-image: -o-linear-gradient($args); 
    background-image: -moz-linear-gradient($args); 
    background-image: -webkit-linear-gradient($args); 
     background-image: linear-gradient($args); 
}



html{
    // scroll-behavior: smooth;
}
h5{
    margin-bottom: 50px;
}
p{
    text-transform: capitalize;
    text-indent: 4rem;
}
#Title {
    @include mob {
        font-size: 20px;
    }
}
.linear-tneam{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    @include linear-gradient-b(to top right, red, blue);
}
.linear-2-theam{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    @include linear-gradient-b(to top right, #eecda3 , #ef629f);
}
.linear-3-theam{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    @include linear-gradient-b(to top right, #667eea , #764ba2);
}
.linear-4-theam{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    @include linear-gradient-b(to top right, #89f7fe , #66a6ff);
}
.linear-5-theam{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    @include linear-gradient-b(to top right, #fdfcfb , #e2d1c3);
}
.linear-6-theam{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    @include linear-gradient-b(to top right, #48c6ef , #6f86d6);
}
.linear-7-theam{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    @include linear-gradient-b(to top right, #13547a , #80d0c7);
}
.linear-8-theam{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    @include linear-gradient-b(to top right, #434343 , #000000);
}
.linear-9-theam{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    @include linear-gradient-b(to top right, #ff758c , #ff7eb3);
}
.linear-10-theam{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    @include linear-gradient-b(to top right, #c79081 , #dfa579);
}
.linear-11-theam{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    @include linear-gradient-b(to top right, #09203f , #537895);
}
.linear-12-theam{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    @include linear-gradient-b(to top right, #96deda , #50c9c3);
}
.linear-13-theam{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    @include linear-gradient-b(to top right, #29323c , #485563);
}
.linear-14-theam{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    @include linear-gradient-b(to top right, #ee9ca7 , #ffdde1);
}
.linear-15-theam{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    @include linear-gradient-b(to top right, #1e3c72 , #2a5298);
}
.default-theam{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    &:focus{background: #fff;}
    &:hover{background: #fff;}
}
.custom-title {
    margin: 0px;
    padding: 11px 0;
}
.custome-menu{
    padding-right: 15px;
    padding-right: 15px;
}

.img-250 {
    height: 250px;
    width: 270px;
}

.products-catogery {
    opacity: 0;
    transition: 1s;
    transform: translateY(100px);
}
.small-font{
    font-size: 10px;
}

.sub-page {
    display: none;
}

footer {
    padding: 30px 0px;
}

.floating-button-custom {
    bottom: 10px;
    right: 10px;
}

.whatsapp {
    width: 2.5rem;
}

.contact-style {
    display: flex;
    align-items: center;

    span {
        left: 1.5rem;
        position: relative;
    }
}
.page404{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgb(37,37,37);
    img{
        position: absolute;
        height: 100%;
        width: 100%;
        @include mob(){
            height: 80%;
        }
        top: 0;
        left: 0;
    }
}
.noscript{
    position: fixed;
    height: 1000vh;
    width: 100vw;
    top: 0px;
    left: 0px;
    z-index: 10;
    background: rgba(0, 0, 0, 0.788);
    color: white;
    text-align: center;
    h4{
        position: absolute;
        top: 250px;
        padding: 30px;
    }
}
tr{
    a{
        color: #000;
    }
    div{
        position: relative;
        top: -5px;
        i{
            position: relative;
            top: 8px;
            margin-right: 5px;
        }
    }
}
.backButton{
    background: rgb(244,67,54);
    color: #000;
    box-shadow: 0 0 0 0 black;
    position: fixed;
    top: 55px;
    z-index: 1;
    left: 0px;
    padding: 10px;
    border-radius: 0 0 50% 0;
    transform-origin: left top;
    display: none;
    transition: .3s;
    i{
        color: #fff;
    }
}
.addon-link{
    float: right;
    font-weight: 500;
    font-size: 10px;
    padding: 5px 10px;
    background: rgb(255, 92, 141);
    color: #fff;
    border-radius:10px;
}
.flexingbox{
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    div{
        width: 300px;
        height: 300px;
        position: relative;
        img{
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
        }
    }
    p{
        @include desk(){
            width: 400px;
        }
        width: 300px;
        height: 300px;
        position: relative;
        @include desk(){padding: 0px 0px 0px 20px;}
    }
}

.main-page{
    display: block;
}

footer{
    padding: 50px 0px; 
    p{
        @include desk(){
            text-align: center;
        }
    }
}



.gradient-nav{
    @include linear-gradient-b(to right, red, blue);
}

.gradient-table{
    // @include linear(red, blue);
    color: white;
    @include linear-gradient-b(to top right, red, blue);
}
.wig{
    transition: 1s;
    opacity: 0;
    transform:translateY(100px);
    overflow: hidden;
}



.font_1{font-family: 'Roboto', sans-serif}
.font_2{font-family: 'Srisakdi', cursive}
.font_3{font-family: 'Source Sans Pro', sans-serif}
.font_4{font-family: 'Lato', sans-serif}
.font_5{font-family: 'Open Sans', sans-serif}
.font_6{font-family: 'Raleway', sans-serif}
.font_7{font-family: 'PT Sans', sans-serif}
.font_8{font-family: 'Open Sans Condensed', sans-serif}
.font_9{font-family: 'Playfair Display', serif}
.font_10{font-family: 'Sniglet', cursive}
.font_11{font-family: 'Lora', serif}
.font_12{font-family: 'Roboto Mono', monospace}
.font_13{font-family: 'Indie Flower', cursive}
.font_14{font-family: 'Thasadith', sans-serif}
.font_15{font-family: 'Pacifico', cursive}
.font_16{font-family: 'Lobster', cursive}
.font_17{font-family: 'Amatic SC', cursive}
.font_18{font-family: 'Suranna', serif}
.font_19{font-family: 'Cinzel', serif}
.font_20{font-family: 'Satisfy', cursive}
.font_21{font-family: 'Kaushan Script', cursive}
.font_22{font-family: 'Caveat', cursive}
.font_23{font-family: 'Bilbo', cursive}
.font_24{font-family: 'Great Vibes', cursive}
.font_25{font-family: 'Patrick Hand', cursive}
.font_26{font-family: 'Poiret One', cursive}
.font_27{font-family: 'Nanum Myeongjo', serif}
.font_28{font-family: 'Handlee', cursive}
.font_29{font-family: 'Sacramento', cursive}
.font_30{font-family: 'Tangerine', cursive}
.font_31{font-family: 'Marck Script', cursive}

.renge{
    // display: none;
    .range-field{
        position: relative;
    }
    input{
        width: 65%;
        position: relative;
    }
}















@import './utelityclasses';